.section_1 {
  margin-top: 36px;
}

.section_1 h1 {
  text-align: center;
}

.all_movies {
  max-width: 1440px;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  gap: 20px;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.each_movies_movies {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  padding: 14px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 6px;
  cursor: pointer;
  min-height: 260px;
}

.each_movies_movies video {
  max-width: 100%;
  border-radius: 6px;
}

.each_movies_movies h2 {
  max-width: 300px;
  margin-top: 5px;
  font-size: 20px;
  color: #000;
}

.each_movies_movies h5 {
  margin-top: 10px;
  color: #000;
}

@media (max-width: 999px) {
  .all_movies {
    justify-content: center;
  }
}
