.for_h1 h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign_up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 13px;
  background-color: rgb(225, 230, 225);
  padding: 34px;
  border-radius: 20px;
}

.label_input {
}

.label_input input {
}
