.for_h1 h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign_up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(3, 61, 132);
}

.form {
  width: 600px;
  background-color: rgb(225, 230, 225);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 34px;
}

.label_input input {
  width: 580px;
}

.for_link {
  display: flex;
  justify-content: space-between;
}

.for_link a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: rgb(236, 65, 3);
}

.for_link a:hover {
  text-decoration: underline;
}

.for_btn {
  display: flex;
  justify-content: center;
}
