.container {
  margin: 0 auto;
}

.header {
  background-color: #252425;
  border-bottom: 6px solid red;
}

.header_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  max-width: 1440px;
  margin: 0 auto;
}

.for_logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.lists {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

.lists li button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
}

.lists li button:hover {
  text-decoration: underline;
}

.lists li a {
  background-color: transparent;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  text-decoration: none;
}

.lists li a:hover {
  text-decoration: underline;
}

.block_3_header {
  display: flex;
  align-items: center;
}

.block_3_header .for_inp_search {
  display: flex;
}

.block_3_header .for_inp_search input {
  padding: 10px 6px;
  border-radius: 3px 0 0 3px;
  outline: none;
  border: none;
}
.block_3_header .for_inp_search button {
  padding: 9.3px 9px;
  border-radius: 0 3px 3px 0;
  border: 1px solid gray;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  
}

.shows,
.movies {
  width: 98%;
  height: 200px;
  background-color: #252425;
  position: absolute;
  top: 68px;
  left: 0;
  animation: changePosition 0.2s ease;
  padding: 5px 10px;
  z-index: 5;
  transform: translate(-50% -50%);
}

@keyframes changePosition {
  from {
    position: absolute;
    top: 40px;
    left: 0;
  }
  to {
    position: absolute;
    top: 68px;
    left: 0;
  }
}

.filter_block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 0;
}

.block_filter_genres h1,
.block_filter_by_year h1 {
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.filter_genres,
.filter_by_year {
  margin-top: 16px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filter_genres a,
.filter_by_year a {
  text-decoration: none;
  color: #fff;
}

/* For desktop size */

@media (max-width: 1023px) {
  .shows,
  .movies {
    max-width: 97.4%;
  }
}

/* For tablet size */
@media (max-width: 767px) {
  .shows,
  .movies {
    max-width: 96.4%;
  }
}

/* For mobile size */
@media (max-width: 560px) {
  .shows,
  .movies {
    max-width: 96%;
  }
}

@media (max-width: 500px) {
  .shows,
  .movies {
    max-width: 95.5%;
  }
}

@media (max-width: 440px) {
  .shows,
  .movies {
    max-width: 95%;
  }
}
@media (max-width: 400px) {
  .shows,
  .movies {
    max-width: 94.5%;
  }
}
@media (max-width: 400px) {
  .shows,
  .movies {
    max-width: 94%;
  }
}

.block_modal_search {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal_search {
  width: 300px;
  min-height: 200px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 30px;
  top: 62px;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 0 0 10px #e4e3e3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* transition: all 0.2s ease; */
}

.searching_movies_block h1{
  

  font-size: 20px;
}

.loading_block_searched_movies h1{
  font-size: 20px;
  
}

.not_found_block_searched_movies h1{
  
  font-size: 20px;
}

.each_searched_movies h4{
  font-size: 20px;
}

